---
BasedOnStyle: LLVM
IndentWidth: 2
AccessModifierOffset: -2
ColumnLimit: 160

BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterClass: true
  AfterControlStatement: false
  AfterCaseLabel: false
  AfterEnum: true
  AfterExternBlock: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  IndentBraces: false
BreakConstructorInitializers: BeforeColon
PackConstructorInitializers: NextLineOnly
ConstructorInitializerIndentWidth: 2
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: None
IndentCaseLabels: true
IndentExternBlock: NoIndent
AlignEscapedNewlines: Left
PointerAlignment: Left
ReferenceAlignment: Left
AlwaysBreakTemplateDeclarations: Yes
SpaceAfterTemplateKeyword: False
AllowShortLambdasOnASingleLine: Empty

